   <html>
       <head>
           <link rel="stylesheet" href="/assets/css/_app.css">
           <link rel="stylesheet" href="/assets/css/about.css">
       </head>
        <body>
            <section id="app" class="home">
                <div class="content-wrapper">
                    <div class="header-title">
                        <h4>About</h4>
                    </div>
                    <div class="miniature text-center">
                        <img src="img/icon_128.png">
                    </div>
                    <div class="text-justify">
                        <p>
                            Chrome Media player is a Google Chrome extension developed by <a href="http://andrynirina.portfoliobox.net" target="_blank"><i><b>daday-</b>andry</i> </a>  
                            that allows you to work quietly while listening to your favorite music from Youtube.
                        </p>
                        
                    </div>
                    <div class="controls">
                    
                    </div>  
                </div>
                <div class="footer-wrapper">
                    <div class="nav">
                        <div class="item" data-toggle="tooltip" data-placement="top" title="Home">
                            <a href="main.html"><i class="fa fa-2x fa-home"></i></a>
                        </div>
                        <div class="item" data-toggle="tooltip" data-placement="top" title="Play list">
                            <a href="play_list.html"><i class="fa fa-2x fa-list-ul"></i></a>
                        </div>
                        <div class="item" data-toggle="tooltip" data-placement="top" title="Search">
                          <a href="search.html"><i class="fa fa-2x fa-search"></i></a>
                        </div>
                        <div class="item active" data-toggle="tooltip" data-placement="top" title="about">
                            <a href="#"><i class="fa fa-2x fa-info-circle"></i></a>
                        </div>
                    </div>
                </div>
                <!--
                <div class="footer">
                    <label>By <a href="http://andrynirina.portfoliobox.net" target="_blank"> daday-andry </a> </label>
                </div>
            -->
            </section>
            <script src="js/jquery.js"></script>
            <script src="js/bootstrap.min.js"></script>          
            <script src="js/main.js"></script>
        </body>
    </html>